-r requirements.txt

#-----------------------------------
#   Testing
#-----------------------------------
pytest
pytest-env

#-----------------------------------
#   Linters / CI
#-----------------------------------

pre-commit
pylint
black
isort
flake8
isort
